*.log
*.aux
*.bbl
*.blg
*~*
*.dvi
*.ps
*.RData
model-partest.RData
.RHistory
*.7z
*.zip
*.toc
*.out
doc/cache/*
doc/figure/*
doc/resDoc.tex
models/*
models-dev/*
extra-models/*
*.pdf
doc/hake-assessment*.pdf
doc/hake-assessment*.tex
doc/knitr-cache*
models*/*
backscatter2.eps
backscatter2smaller.eps
*.synctex
*.snm
*.nav
*.rdb
*.rdx
beamer/SRG/Assessment/knitr-cache*
beamer/SRG/Data/knitr-cache*
beamer/SRG/Management/knitr-cache*
beamer/SRG/Requests/knitr-cache*
beamer/SRG/Requests/Figures-2018/*
beamer/SRG/Sensitivities/knitr-cache*
*.tex
beamer/SRG/Management/beamer-hake-management.tex
*.ppt*
beamer/JMC/presentation/knitr-cache*
admin/*
*.docx
*.doc
out-csv/*.*
doc/out-csv/*.*
papers/*
beamer/*/out-csv/*.*
doc/main-figures/hake_survey_1995-15_sA_squareroot_bin_narrow-panel2_bitmap100.eps
doc/main-figures/hake_survey_1995-17_NewNArrow.eps
doc/main-figures/hake_survey_1995-17_sA_squareroot_bin_300dpi.eps
doc/main-figures/hake_survey_1995-17_sA_squareroot_bin_300dpi_v2.eps
doc/main-figures/age1-test.eps
doc/main-figures/age1-use-me.eps
doc/main-figures/age1hake_03-17_NASC_narrow-panel-chris.eps
doc/main-figures/age1hake_03-17_NASC_narrow-panel-use.eps
doc/main-figures/age2plushake_03-17_NASC_BiomassAtAge_color.eps
doc/main-figures/age1hake_03-17_NASC_BiomassAtAge_color.eps
doc/main-figures/hake_survey_1995-19_NASCTimeSeries_BiomassAtLengthHistograms_v2.eps
doc/main-figures/age1hake_03-19_sA_squareroot_bin_narrow-panel_bw.eps
doc/main-figures/age1hake_03-19_sA_squareroot_bin_narrow-panel_bluergray.eps
doc/main-figures/hake_survey_1995-19_NASCTimeSeries_BiomassAtAgeHistograms_grayblue.eps
doc/main-figures/MCMC_compares_StockStatus.eps
doc/main-figures/SummaryDiagnostics_nuts.eps

doc/appendix-srg-requests/appendix-srg-requests-2017.rnw
doc/appendix-srg-requests/appendix-srg-requests-2018.rnw
doc/appendix-srg-requests/appendix-srg-requests-2019.rnw

temp-keep/

.Rproj.user

*synctex*
references