*.log
*.aux
*.bbl
*.blg
*~*
*.dvi
*.ps
*.RData
model-partest.RData
.RHistory
*.7z
*.toc
*.out
doc/cache/*
doc/figure/*
doc/resDoc.tex
doc/r/old*
models/*
extra-models/*
doc/hake-assessment.pdf
doc/hake-assessment.tex
doc/knitr-cache
models/*
