# root .gitignore
# Files
hake.R
marmap_coord*
..Rcheck/
*~*
*.7z
*.aux
*.bbl
*.blg
credentials
*.docx
*.doc
*.dvi
*.exe
alternative_text.csv
*.knit.md
*junk*
*.log
*.nav
*.out
*.pdf
*.pem
*.ppt*
*.ps
key_pair.R
*.RData
*.rdb
*.rdx
Renviron
.Renviron
.RHistory
.Rhistory
.Rproj.user/
# Needed for the Docker containers to endure pulling occurs when
# container is started
git-pull.sh
*.snm
*.ss_new
*.sso
*.synctex
*synctex*
*.tex
*.toc
*.upa
*.upb
*.xlsx
*.zip


# Folders
.history/
.vscode/
admin*
cache*
extra-models*
aws/key_pair
knitr-cache*
knitr-figs*
models*
out-csv*
papers*
references*
remote-desktop-scripts*
temp-keep*
data/extractedData*
doc/old-pdfs*
doc/hake.Rmd
doc/*.md

# Other
appendix-srg-requests-2017.rnw
appendix-srg-requests-2018.rnw
appendix-srg-requests-2019.rnw
/data/recruitment-question-responses-orig.csv
/data/US_CAN_Ratios_1995_2021.csv
/sandbox/andy/iphc2013data.Rnw
/sandbox/andy/pacea-save/*.rda
/doc/main-figures/main-figures-10e364f.rnw
/data-tables/extractedData/*
doc/_bookdown.yml   # git add -f doc/_bookdown.yml if you make a change you want to push

# Bash
.bash_history
.config/
.local/

# Whitelist
!testing/
!testing/*
!*gotest*
inst/doc
